body, menu, ul, button, img{
	margin: 0;padding: 0;
	color:#414042;
}
q{
	font-family: RBlack;
	quotes: "\00ab" "\00bb";
}
.dea{
	color:inherit;
	text-decoration: none;
}
.dea:link{
	color:inherit;
	text-decoration: none;
}
.dea:visited{
	color:inherit;
	text-decoration: none;
}
.main-wrapper{
	width: 100%;
	background: #414042;
	height:3000px;
}
.shell{
	width: 95%;
	display: inline-block;
	text-align: left;
	position: relative;
	z-index: 1;
}
header{
	width: 100%;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	background: white;
	display: inline-block;
	position: relative;
	z-index: 1;
	padding: 10px 0;
	text-align:center;
}
header .shell>.title{
	font-family: RBlack;
	display: inline-block;
	text-transform: uppercase;
}
header .shell>.title .top{
	font-size: 1.5em;
}
header .shell>.title .bottom{
	font-size: 1em;
}
header .shell>.contact{
	display: inline-block;
	float: right;
	font-family:RBlack;
	font-size: 2.1em;
	vertical-align: middle;
	transition: color .3s ease, font-size .3s ease;
}
header .shell>.contact:hover{
	color:#ED1C24;
}
header .shell>.contact .pict .st0{
	transition:fill .3s ease;
}
header .shell>.contact:hover .pict .st0{
	fill:#ED1C24;
}
header .shell>.contact .pict{
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	transition: height .3s ease;
}
header .shell>.contact a{
	vertical-align: middle;
}
.sub-header{
	width: 100%;
	position: relative;
	z-index: 0;
	display: inline-block;
	text-align: center;
}
.sub-header .shell{
	width: 90%;
	margin-bottom: 50px;
}
.sub-header .title {
	margin-top: 35px;
	vertical-align: middle;
	color: white;
	font-size: 1.1em;
	display: inline-block;
	transition: font-size .3s ease;
}
.sub-header .title .top{
	font-family: RBlack;
	font-size: 2.2em;
}
.sub-header .title .bottom{
	font-family: RMedium;
	font-size: 1.55em;
	text-transform: uppercase;
}
.sub-header .logo{
	display: inline-block;
	height: 120px;
	margin-top: 15px;
	vertical-align: middle;
	float: right;
	transition: height .3s ease;
}
.sub-header .logo img{
	height: 100%;
}
.sea{
	width: 100%;
	height: 70px;
	position: absolute;
	left: 0;bottom: 0;
}

.content{
	background: white;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	display: inline-block;
	position: relative;
	z-index: 1;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.content>.title{
	text-transform: uppercase;
	font-family: RBlack;
	width: 100%;
	text-align:center;
	margin: 30px 0;
}
.content>.title .top{
	font-size:1.7em;
}
.content>.title .bottom{
	font-size: 1.3em;
}
menu{
	width: 100%;
	text-align: center;
	display: inline-block;
	font-family: RLight;
	font-size: 1.3em;
	height: 60px;
	position: absolute;
	background: white;
	z-index: 97;
	left: 0;
	will-change:width;
}
#bars{
	position: absolute;
	left:-70px;top: 10px;
	font-size: 1.3em;
	cursor: pointer;
	transition: color .3s ease, left .3s ease;
}
#bars:hover{
	color: #ED1C24;
}
.mel{
	line-height: 60px;
	margin: 0 20px;
	transition: color .3s ease;
	display: inline-block;
}
.mel:hover{
	color:#ED1C24;
}
menu .mel{
	width: 123px;
}
#selector{
	left: -20px;top: 0;
	height: 20px;
	width: 20px;
	position: absolute;
	z-index: 98;
	transition:top .3s ease;
}
#selector img{
	height: 100%;
}
#border{
	background: #ED1C24;
	height:2px;
	width: 100%;
	position: absolute;
	transform:scale(0,0);
	transition:transform .3s ease;
	bottom: 0;
}
.super{
	background: white;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	display: inline-block;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	min-width: 300px;
	position: relative;
	margin: 0 10px;
	height:321px;
	transition:height .3s ease, min-width .3s ease;
}
.super img{
	height: 256px;
	transition:height .3s ease;
}
.super .title{
	font-family: RLight;
	font-size: 1.4em;
	margin: 0 0 25px 0;
}
.bottom-descriptor{
	width: 100%;
	height: 6px;
	background: #ED1C24;
	position: absolute;
	bottom: 0;
	transition:height .3s ease;
	overflow: hidden;
	color:white;
	text-transform: uppercase;
	font-size: 1.3em;
	font-family: RLight;
}
.exp{
	width: calc(75% - 321px);
}
.content .shell{text-align: center;}
.content .shell > .title{
	width: 100%;
	margin-top: 110px;
	margin-bottom: 60px;
	text-align: center;
	text-transform: uppercase;
	font-family: RBlack;
}
.content .shell > .title .top{
	font-size: 1.7em;
}
.content .shell > .title .bottom{
	font-size: 1.3em;
}

.binput{
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	background: white;
	display: inline-block;
	margin: 40px 0;
	border-bottom: 3px solid #ED1C24;
	margin-bottom: 70px;
	width:550px;
	max-width: 95%;
}
.binput input{
	border: none;
	height: 100%;
	width: calc(100% - 150px);
	display: inline-block;
	font-size: 1.1em;
	font-family: RLight;
	outline: none;
	padding:5px 10px;
	vertical-align: middle;
}
.binput button{
	height: 35px;
	display: inline-block;
	border: none;
	background: #ED1C24;
	color:white;
	padding: 0 10px;
	vertical-align: middle;
	cursor: pointer;
	font-family: RLight;
	outline:none;
	font-size: 1em;
	float: right;
	transition: color .3s ease, background .3s ease;
}
.binput button:hover{
	background: white;
	color:#ED1C24;
}
.gallery{
	width: 900px;
	max-width: 100%;
	display: inline-block;
	text-align: left;
	margin: 30px 0;
}
.gallery .title{
	font-size: 1.1em;
	margin-bottom: 10px;
}
.gallery .title .top{
	font-size:1.7em;
	font-family: RBlack;
}
.gallery .title .bottom{
	font-size:1.2em;
	font-family: RLight;
}
.gallery .photos{
	width: 100%;
	height: 310px;
	overflow: hidden;

	vertical-align: center
}
.photos-shell{
	height: 300px;
	margin: 10px 0 0 0;
}
.gallery .photos .right{
	display: inline-block;
	width: calc(100% - 412px);
	height: 100%;
}
.gallery .photos .right .right-shell{
	width:auto;
	height: 100%;
}
.gallery .photos .comp{
	overflow: hidden;
	height: 100%;
	width: calc(100% / 3 - 3px);
	min-width:136px;
	display: inline-block;
	cursor: pointer;
	transition: transform .3s ease;
	position: relative;
	background: white;
	box-shadow: inset 0 0 0 1px #CCC;
}
.gallery .photos .comp:hover{
	transform:scale(.99,.99);
}
.gallery .photos .comp img{
	height:100%;
	left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;
	position: absolute;
}
.gallery .photos .main{
	height:100%;
	width: 400px;
	display: inline-block;
	margin-right: 4px;
}
.gallery .photos .triple{
	display: block;
	height: calc(50% - 2px);
}
.gallery .photos .triple.s{
	margin-top: 3px;
}
.dea.view-all{
	display: inline-block;
	border: none;
	background: #ED1C24;
	color:white;
	padding: 5px 10px;
	vertical-align: middle;
	cursor: pointer;
	font-family: RLight;
	outline:none;
	font-size: 1em;
	float: right;
	border-bottom: 3px solid #ED1C24;
	transition: color .3s ease, background .3s ease;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	margin: 10px;
}
.dea.view-all:hover{
	background: white;
	color:#ED1C24;
}
.add{
	font-family: RLight;
	font-size:1.3em;
	margin: 15px 0 0 0;	
	display: inline-block;
}


#mobile-menu{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	transition:left .3s ease;
	top: 0;
	left: -100%;
}
#mobile-menu .logo{
	width: 100%;
	text-align: center;
	height: 100px;
	margin:15px 0;
    display: block;
}
#mobile-menu .logo img{
	display: inline-block;
	height: 100%;
	max-width: 90%;
}
#mobile-menu .menu{
	top: 0;bottom: 0;right: 0;left: 0;
	background: white;
	width: 70%;
	font-family: RLight;
	text-align: center;
	height: 100%;
	float: left;
	display: inline-block;
	border-left: 2px solid #ED1C24;
}
#mobile-menu .mel{
	width: 100%;
	display: block;
	font-size: 1.5em;
	line-height: 50px;
	border-bottom: 1px solid white;
	margin: 0;
	transition: color .3s ease;
}
#mobile-menu .mel .fa{
	text-align: center;
	width: 40px;
}
#mobile-menu .shell{
	width: 90%;
}
#mobile-menu .fa-times{
	font-size: 2em;
	text-shadow: 0 0 5px rgba(0,0,0,.5);
	cursor: pointer;
	transition: color .3s ease;
	color: white;
	display: inline-block;
	padding-left: 10px;
	width: calc(30% - 12px);
	height: 100%;
}
#mobile-menu .fa-times:hover{
	color:#ED1C24;
}
#pop-ups-bg{
	right: 0;left: 0;top: 0;bottom: 0;
	position: fixed;
	opacity: 0;
	z-index: 99;
	background: black;
	display: none;
	transition: opacity .3s ease;
}
#gallery-pop-up{
	position: fixed;
	z-index: 103;
	margin: auto;
	left: 0;right: 0;top: 0;bottom: 0;
	height: 680px;
	max-height: 100%;
	width: 1100px;
	max-width: 100%;
	display: none;
	transform: scale(.9,.9);
	opacity: 0;
	text-align: center;
	transition:transform .3s ease, opacity .1s ease-out;
}
#gallery-pop-up .head{
	width: 100%;
	height: 550px;
	background: white;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	text-align: left;
}
#gallery-pop-up .head .frame{
	width: calc(100% - 250px);
	background: #414042;
	height: 100%;
	display: inline-block;
	position: relative;
}
#gallery-pop-up .head .frame img{
	left: 0;top: 0;right: 0;bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
}
#gallery-pop-up .head .description{
	display: inline-block;
	vertical-align: top;
	margin-top:40px;
	text-align: center;
	width: 246px;
}
#gallery-pop-up .head .description .top{
	font-family: RBlack;
	font-size: 2.1em;
}
#gallery-pop-up .head .description .bottom{
	font-family: RLight;
	font-size: 1.15em;
	margin: 20px 0 10px 0;
}
#gallery-pop-up .head .description .txt{
	font-family: RLight;
	margin: 10px 0;
}
#gallery-pop-up .list{
	display: inline-block;
	text-align: center;
	height: 127px;
	margin-top: 8px;
	overflow: hidden;
	max-width: 100%;
}
#gallery-pop-up .list .shell{
	height: 120px;
	width: auto;
	margin: 2px 0 0 0;
}
#gallery-pop-up .list .pict{
	height: 120px;
	background: white;
	display: inline-block;
	width: auto;
	margin: 2px 2px;
	cursor: pointer;
	transform: translateY(30px);
	opacity: 0;
	transition:box-shadow .3s ease,transform .3s ease, opacity .3s ease;
}
#gallery-pop-up .list .pict:hover{
	box-shadow: 0 0 0 2px #ED1C24;
}
#gallery-pop-up .list .pict.selected{
	box-shadow: 0 0 0 2px #ED1C24;
}
#gallery-pop-up .list .pict img{
	height: 100%;
}
#closegallery{
	position: fixed;
	top: 0;right: 0;left: auto;
	font-size: 2em;
	color: white;
	text-shadow: 0 0 5px rgba(0,0,0,.5);
	z-index: 200;
	margin: 15px 20px;
	transition: color .3s ease;
	cursor: pointer;
	opacity: 0;
	display: none;
}
#closegallery:hover{
	color: #ED1C24;
}
.price{
	width: 100%;
	margin-top: 40px;
}
.price .title{
	font-family: RBlack;
	display: inline-block;
	width: 80%;
	font-size: 2em;
	text-align: left;
	transition: font-size .3s ease;
	margin-bottom: 15px;
}
.price .black-screen{
	width: 100%;
	display: inline-block;
	background: #414042;
	color:white;
}
.price select {
    padding:3px;
    margin: 10px 10px	;
    box-shadow: 0 3px 0 #ED1C24;
    background: white;
    padding: 10px 20px;
    color:#414042;
    border:none;
    outline:none;
    display: inline-block;
    cursor:pointer;
    font-family: RLight;
    font-size: 1.3em;
    width: 390px;
    max-width: 100%;
    cursor: pointer;
}
.price select option{
	transition:background .3s ease, color .3s ease;
}
.price select option:hover{
	background: #ED1C24;
	color:white;
}

.price .pol{
	background: white;
	border: none;
	font-family: RLight;
	font-size: 1.3em;
	padding: 10px 20px;
	width: 350px;
	box-shadow: 0 3px 0 #ED1C24;
	outline: none;
	margin: 0 20px;
	display: inline-block;
    max-width: 100%;
}
.price .shell{
	margin: 40px 0 0 0;
	z-index: 0;
}
#price{
	display: inline-block;
	font-family: RMedium;
	font-size: 1.7em;
	line-height: 70px;
	margin:0 30px;
}
.cta{
	font-family: RMedium;
	display: inline-block;
	font-size: 1.5em;
	line-height:40px;
	vertical-align: middle;
	transition: font-size .3s ease, margin-bottom .3s ease;
}
.price .binput{
	vertical-align: middle;
	margin: 0 15px;
	width: 400px;
}
.price .last{
	margin: 40px 0;
}


@media screen and (max-width:860px){
	.cta{
		font-size: 1.3em;
		line-height: normal;
		margin-bottom: 15px;
	}
	.price .title{
		font-size: 1.5em;
		text-align: center;
	}
	#gallery-pop-up .head{
		height: calc(100% - 135px);
	}
	#gallery-pop-up .head .description{
		width: 100%;
		text-align: left;
		margin: 0;
		line-height: 50px;
	}
	#gallery-pop-up .head .description .top{
		display: inline-block;
		margin: 0 30px;
		vertical-align: top;
		font-size: 1.5em
}
#gallery-pop-up .head .description .bottom{
	display: inline-block;
	margin: 0px;
	vertical-align: middle;
}
#gallery-pop-up .head .description .txt{
	display: none;
}
	header .shell{
		text-align: center;
	}
	header .shell .contact{
		float: inherit;
	}
	header .title{
		display: block;
		width: 100%;
	}
	.sub-header .shell{
	text-align: center;
}
	.sub-header .logo{
	display: inline-block;
	height: 90px;
	margin-top: 15px;
	vertical-align: middle;
	float: inherit;
	display: none;
}
	.sub-header .title{
		font-size: .9em;
	}
	header .shell>.contact .pict{
	height: 20px;

}
	header .shell>.contact{
		font-size:1.1em;
		margin-top: 10px;
	}
	.gallery .photos{
		width: 100%;
		overflow: visible;
		height: auto;
	}
	.gallery .photos .photos-shell{
		width: 100%;
		height: auto;
	}
	.gallery .photos .photos-shell .comp.main{
		width: 100%;
		display: block;
		float:none;
		height: 300px;
	}
	.gallery .photos .photos-shell .comp.main img{
		position:absolute;
	}
	.gallery .photos .right{
		width: 100%;
		display: block;
		height: 70px;
		overflow: hidden;
		text-align: center;
	}
	.gallery .photos .photos-shell .comp{
		height: 100%;
		width: auto;
		min-width: auto;
	}
	.gallery .photos .photos-shell .comp img{
		position:relative;
	}
	.gallery .photos .triple{
		height: 100%;
		display: inline-block;
		margin-top: 3px;
	}
	.gallery .photos .triple.s{
		display: none;
	}
	.gallery .last{
		text-align: center;
	}
	.gallery .dea.view-all{
		float: none;
	}

	#gallery-pop-up{
	top: 0;bottom: auto;
}
#gallery-pop-up .head .frame{
	width: 100%;
	height: calc(100% - 60px);
}
}
.onmap{
	width: 100%;
	text-align: center;
}
.onmap .title{
	width: 100%;
	font-family:RBlack;
	font-size: 1.5em;
	margin: 50px 0 30px 0;
}
.onmap .title span{
	font-family:RLight;
}
#map{
	width: 100%;
	height: 400px;
	box-shadow: 0 0 3px rgba(0,0,0,.3);
}

@media screen and (max-width: 600px) {
	menu .mel{
		display: none;
	}
	#bars{
		left: 15px;
	}
	#selector{
		display: none;
	}
	.super{
		height: auto;
		width: 100%;
		margin: 10px 0;
	}
}
#melselected{
	color:#ED1C24;
}
@font-face{
	font-family: RBlack;
	src:url("./styles/fonts/Roboto-Black.ttf");
}
@font-face{
	font-family: RLight;
	src:url("./styles/fonts/Roboto-Light.ttf");
}
@font-face{
	font-family: RMedium;
	src:url("./styles/fonts/Roboto-Medium.ttf");
}